.all-container {
    display: flex;

    .container {
        background: #1d4bae;
        border-radius: 7px;
        padding: 16px;
        margin-bottom: 5px;
    
        .data-id {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 3px;
            text-align: end;
        }
    
        .data-name {}
    
        .data-uri {}
    
        .data-urls {
            p {}
        }
    }
    .container-select {
        
    }
}